###### Requirements  ######
PyQt4
PySide
PyQt5
NumPy
Scipy
pyqt4-dev-tools         # for pyuic4
Pyqtgraph               # Plotting library
pyopengl                # for 3D graphics
qt-opengl               # for 3D graphics
iPython-qtconsole       # optional
