###### Requirements  ######
PyQt4
PySide
PyQt5
NumPy
Scipy
pyqt4-dev-tools         # for pyuic4
Pyqtgraph               # Plotting library
pyopengl and qt-opengl  # for 3D graphics
iPython-qtconsole       # optional
