/*---------------analogScope.ui-----------------*/

#centralwidget{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border: 1px solid black;
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #6af, stop: 0.1 #689);
}

#centralwidget QLabel {
font-weight: medium;
}
/* ------------Overall-----------  */

QTabWidget {
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #abe, stop: 0.7 #aba);

}

QTabBar::tab{
color: #000;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
padding-top: 15px;padding-bottom:15px;
background: qradialgradient(cx: 0.3, cy: -0.4,
fx: 0.3, fy: -0.4,
radius: 1.2, stop: 0 #fff, stop: 1 #aaa);
min-width: 30px;
font-size: 13px;
}

QTabBar::tab:selected {
color: #000;
border-top-left-radius: 20px;
border-bottom-left-radius: 5px;
background: qradialgradient(cx: 0.3, cy: -0.4,
fx: 0.3, fy: -0.4,
radius: 1.35, stop: 0 #fcc, stop: 1 #ccf);
}

QPushButton {
color: #333;
border: 1px solid #555;
border-radius: 0px;
padding: 2px;
background: qradialgradient(cx: 0.3, cy: -0.4,
fx: 0.3, fy: -0.4,
radius: 1.35, stop: 0 #fff, stop: 1 #888);
min-width: 80px;

}

QPushButton:pressed {
background: qradialgradient(cx: 0.4, cy: -0.1,
fx: 0.4, fy: -0.1,
radius: 1.35, stop: 0 #fff, stop: 1 #ddd);
}

QFrame.PeripheralCollection{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border: 1px solid black;
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #6af, stop: 0.1 #689);
}


QFrame.PeripheralCollectionInner {
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #abe, stop: 0.7 #aba);
border: none;
border-top: 1px solid black;
}

QFrame.PeripheralCollection {
color: black;
font-weight: medium;
}

QFrame.PeripheralCollectionInner QLabel{
font-weight: light;
}


QTextBrowser{
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #cdf, stop: 0.7 #cdc);
}


QWidget.PeripheralCollectionInner {
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #abe, stop: 0.7 #aba);
border: none;
border-top: 1px solid black;
}

QWidget.PeripheralCollectionInner QLabel{
color: black;
font-weight: light;
}

QScrollAreaWidgetContents{background-color: rgb(21, 107, 113);}

/*---------------digitalScope.ui-----------------*/
QProgressBar:horizontal {
border: 2px solid gray;
border-radius: 6px;
background: white;
padding: 0px;
text-align: center;
}
QProgressBar::chunk:horizontal {
background: qlineargradient(x1: 0, y1: 0.5, x2: 1, y2: 0.5, stop: 0 #467, stop:1 white);
margin-right: 2px; /* space */
width: 5px;
}

/*------------Set stylesheets by name --------*/


#message_label{
color: rgb(255, 255, 255);
}
#scrollLayout, #scroll2layout{
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #abe, stop: 0.7 #aba);
}

#SCF1,#SCF2,#SCF3
{
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #6af, stop: 0.1 #689);
}

#SCF1 QLabel,#SCF2 QLabel,#SCF3 QLabel{
color: white;
font-weight: bold;
}
#SCF1 QPushButton{
font-size:10pt;
}


QFrame.ControlWidget{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 1px;
border-bottom-left-radius: 1px;
border: 1px solid black;
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 rgb(97, 146, 121), stop: 0.3 rgb(65, 89, 111) );

}
QFrame.ControlWidget QLabel{
color: white;
}

QFrame.ControlWidgetInner{
border: 1px solid black;
background: (65, 89, 111);

}
QFrame.ControlWidgetInner QLabel{
color: white; /*white*/
}

QMessageBox QLabel{
color: black;
}


QDial.Shaded {
	background-color:QLinearGradient( 
		x1: 0.177, y1: 0.004, x2: 0.831, y2: 0.911, 
		stop: 0 white, 
		stop: 0.061 white, 
		stop: 0.066 lightgray, 
		stop: 0.5 #242424, 
		stop: 0.505 #000000,
		stop: 0.827 #040404,
		stop: 0.966 #292929,
		stop: 0.983 #2e2e2e
	);
}


#SCF1.Disconnected,#SCF2.Disconnected,#SCF3.Disconnected
{
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #944, stop: 0.7 #966);
}


QWidget.Off {
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #a4e, stop: 0.7 #a4a);
border: none;
border-top: 1px solid black;
}





