QProgressBar:horizontal {
border: 0px;
border-radius: 0px;
background: black;
padding: 0px;
text-align: center;
}
QProgressBar::chunk:horizontal {
background: qlineargradient(x1: 0, y1: 0.5, x2: 1, y2: 0.5, stop: 0 #467, stop:1 ccc);
margin-right: 2px; /* space */
width: 5px;
}
