<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>PSLab Virtual Lab</title>
 
    <script src="../static/js/jquery.js"></script>        
    <script src="../static/js/bootstrap.min.js"></script>        
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/narrow.css" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignIn">Sign In</a> <!-- inactive -->
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a> <!-- inactive -->
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Virtual Lab App for Pocket Science Lab</h3>
        </div>
 
        <div class="jumbotron">
            <h1>VIRTUAL LABS</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up</a>  <!-- inactive -->
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>What's this?</h4>
                <p>This website enables you to acquire data from remotely located devices. Registered users can write python scripts that will be executed remotely, and the results will be displayed in the browser </p>
 
                <h4>Graphical interfaces</h4>
                <p>It features various graphical utilities for click-execute functionality.</p>
 
                <h4>Pre-written code</h4>
                <p>Standard scripts for various experiments are also available.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Section A</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Section B</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Section C</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>


        <footer class="footer">
            <p>Virtual Lab powered by Python + Flask</p>
        </footer>
 
    </div>
</body>
 
</html>
