<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pocket Science Lab : Virtual Lab</title>
 
    
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/css/narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery.js"></script>        
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="/showSignIn">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Pocket Science Lab : Virtual Lab</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Sign Up Here</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
        <h3 id="message" class="text-muted">_</h3>
      </div>
       
 
      <footer class="footer">
        <p>Sign-Up page</p>
      </footer>
 
    </div>
  </body>
</html>
